
main {
  position: fixed;
  
  @media screen and (min-width: 768px) {
    width: 100%;
    margin: auto;
    position: fixed;
}

@media screen and (min-width: 992px) {
  width: 800px;
  margin-left: 200px;
  position: fixed;
}

@media screen and (min-width: 1400px) {
width: 990px;
 margin-left: 300px;
 position: fixed;
}

}

