
ion-buttons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 5px;
}

ion-title {
  color: var(--main-white);
}

ion-item {
  color: var(--main-white);
}

ion-label {
  font-size: 18px;
}

.sidebar-item {
  padding-top: 20px; 
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; 
  color: var(--main-white);
  outline: none;
  border: none;
 }
 
 .sidebar-item:hover {
   color: var(--main-white);
   font-weight: bold;
 }
 

ion-menu-button {
  color: var(--main-white);
}

ion-menu {
  color: var(--main-white);
}

ion-list-header {
  color: var(--main-white);
}

ion-icon {
  color: var(--main-pink);
}

.header__logo {
  width: 44px;
  height: 44px;
}

.router-link-active {
  color: var(--main-white);
  font-weight: bolder;
  border-bottom: 1px solid var(--main-pink);
}

.button-container {
    width: 70%;
    padding: 10px;

    & button {
      width: 100%;
      padding: 15px;
      border-radius: 10px;
      outline-color: var(--sec-blue);
      background-color: var(--main-pink);
      color: var(--main-white);
    }
    
}

