  
  .secretBox > form {
    display: flex;
    width: 100%;
    padding: 10px;
  }
  
  .secretBox__input {
    display: flex;
    width: 100%;
  }
  
  .secretBox__input > input {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    background-color: var(--main-dark);
    border: none;
    color: var(--main-white);
    font-size: 12px;
  }

  .secretBox__input > input::placeholder {
    color: var(--main-white);
    font-size: 12px;
  }

    
  .secretBox__button {
    width: 30%;
    margin-left: -5px;
    padding: 15px;
    border-radius: 10px;
    outline-color: var(--sec-blue);
    background-color: var(--main-pink);
    color: var(--main-white);
    font-size: 12px;
  }