<app-sidemenu *ngIf="isMobile"></app-sidemenu>

<div class="ion-page">
  <ion-toolbar *ngIf="isMobile">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <img class="header__logo" src="assets/logo.svg" >
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="header" *ngIf="!isMobile">
    <div class="header__main">
      <img class="header__logo" src="assets/logo.svg" >
      <ion-title class="header__title">Parrot Secrets</ion-title>
    </div>
  </ion-toolbar>

  <ion-content class="ion-padding" id="main-content">
    <main>
      <div class="sidebar" *ngIf="!isMobile">
        <ion-list>
            <div class="sidebar-item" lines="none" routerLink="/" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">
                <ion-label>Feed</ion-label>
            </div>
      
            <div class="sidebar-item" lines="none" routerLink="/profile" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">
              <ion-label>Profile</ion-label>
            </div>
      
            <div class="sidebar-item" lines="none" routerLink="/settings" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">
              <ion-label>Settings</ion-label>
            </div>

            <div class="button-container">
              <button (click)="presentAlertConfirm()">
                LOGOUT
              </button>
            </div>
      
        </ion-list>

      </div>
      <router-outlet></router-outlet>
    </main>
  </ion-content>
</div>
